
body{
  overflow-x: hidden;
  position: relative;
  min-height: 100vh!important;

  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4{
font-family: "Major Mono Display", monospace!important;
font-weight: 700!important;
}

a{

  text-decoration: none;
  font-size: 18px;
}

.css-zjq1i3{
  margin: auto;
}
#root{
  padding-bottom: 28em;
}
.social-links a img{
  transition: all 0.25s;
}
.social-links a:hover img{
transform: scale(1.2);
}
.heart-container:hover .heart{
  animation: heartbeat 0.75s ease-in-out infinite;
}
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  25%, 75% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
}