
body{
  overflow-x: hidden;
  position: relative;
  min-height: 100vh!important;
  font-family: 'Roboto', sans-serif;
   min-height: 100vh;
    display: flex;
    flex-direction: column;

}

h1, h2, h3, h4{
font-family: "Major Mono Display", monospace!important;
font-weight: 700!important;
}

a{

  text-decoration: none;
  font-size: 18px;
  
}
.first-ltrs{
  text-shadow: 2px 2px #c15B75;
}
.css-zjq1i3{
  margin: auto;
}

.social-links a img{
  transition: all 0.25s;
}
.social-links a:hover img{
transform: scale(1.2);
}
.heart-container:hover .heart{
  animation: heartbeat 0.75s ease-in-out infinite;
}
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  25%, 75% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
}


@media only screen and (max-width: 768px) {
  #logo .mobile{
    display: none;
  }
}
